@media (min-width: 320px) {
   .hamburger {
      display: block;
   }

   .header {
      &__wrapper {
         padding: 0 0 0 15px;

         &_wrap {
            width: 100%;

            img {
               width: 100px;
               margin-right: 15px;
            }
         }
      }

      .menu {
         position: fixed;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-start;
         padding: 18px;
         top: 90px;
         left: -100%;
         width: 100%;
         height: calc(100vh - 90px);
         background: #131313;
         z-index: 10;
         overflow: hidden;
         transition: 0.6s all;

         &__active {
            left: 0;
         }

         &__inner {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-weight: 700;
            font-size: 20px;
            text-align: left;
         }

         &__item {
            margin-bottom: 15px;
         }

         &__link {
            display: block;
            color: #131313;
            text-shadow: #808080 1px 0px, #808080 1px 1px, #808080 0px 1px, #808080 -1px 1px, #808080 -1px 0px, #808080 -1px -1px, #808080 0px -1px, #808080 1px -1px;
            text-decoration: none;
         }

         &__wrap {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
         }

         &__phone {
            @include phone;
            display: flex;
            justify-content: center;
            width: 270px;
            padding: 0;
            margin: 0;
            margin-bottom: 6px;

            img {
               width: 60px;
               height: 60px;
            }
         }

         &__btn {
            @include button;
            width: 270px;

            &::after {
               display: none;
            }
         }
      }

      .callback {
         display: none;
      }
   }

   .carousel {
      .tabcontent {
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         height: calc(100vh - 90px);
      }

      .tabfeatures {
         padding: 30px 20px;
         max-width: 87%;
         padding-bottom: 0;

         h2 {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 20px;
         }

         &__descr {
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 20px;
            max-width: 686px;
         }

         &__btn {
            width: 150px;
            height: 40px;

            &::after {
               display: none;
            }
         }
      }

      .tabheader {
         bottom: 50px;
         right: 30px;

         &__item {
            margin-bottom: 25px;
            font-size: 16px;
         }
      }
   }

   .cards {
      padding: 50px 15px;

      h2 {
         font-size: 20px;
      }

      &__item {
         margin-right: 0;
      }
   }




   .modal {
      // padding-top: 0;
      padding-top: 90px;

      &__dialog {
         transform: none;
      }

      &__content {
         max-width: 100vw;
         max-height: 100vh;
      }

      &__image {
         display: none;
         height: 85vh;
      }

      &__form {
         width: 100%;
         height: 85vh;
         padding: 15px;
         padding-top: 30px;

         &_inner {
            width: 100%;
            margin-bottom: 15px;
         }
      }

      form {
         transform: none;
         // min-height: 568px;
         height: 100%;
      }

      &__title {
         font-size: 5vw;
      }

      &__subtitle {
         font-size: 10px;
      }

      &__input {
         height: 40px;
         padding: 13px 20px;
         margin-bottom: 10px;
         font-size: 12px;
      }

      textarea {
         height: 100px;
      }

      &__wrapper {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      &__btn {
         &::after {
            display: none;
         }

         margin-right: 0;
         margin-bottom: 10px;
      }

      &__descr {
         width: 100%;
         font-size: 12px;
         text-align: center;
         color: #808080;

         a {
            color: #808080;
         }
      }

      &__close {
         font-size: 60px;
         width: 60px;
         height: 45px;
      }
   }
}







@media (min-height: 569px) {
   .menu {
      &__btn {
         margin-top: 25px;
         margin-bottom: 25px;
      }
   }
}



@media (min-height:668px) {
   .carousel {
      .tabfeatures {
         h2 {
            margin-bottom: 40px;
         }

         &__descr {
            margin-bottom: 40px;
         }
      }
   }
}



@media (min-width:425px) {
   .header {
      &__wrapper {
         padding: 0 0 0 40px;
      }

      .menu {
         padding: 30px;

         &__item {
            margin-bottom: 25px;
         }
      }
   }

   .carousel {
      .tabfeatures {
         max-width: 70%;
      }
   }

}



@media (max-height: 320px) {
   .header {
      .menu {
         display: flex;
         flex-direction: row;
         align-items: center;

         &__item {
            margin-bottom: 5px;
         }

         &__link {
            font-size: 17px;
         }
      }
   }

   .modal {
      padding-top: 0;

      &__form {
         height: 100vh;
         padding-top: 15px;
      }

      &__subtitle {
         padding-bottom: 7px;
         width: 73%;
      }

      &__input {
         padding: 5px 15px;
         margin-bottom: 5px;
      }

      &__btn {
         height: 45px;
      }

      &__wrapper {
         display: flex;
         flex-direction: row;
      }
   }
}



@media (max-height: 376px) {
   .header {
      .menu {
         display: flex;
         flex-direction: row;
         align-items: center;

         &__item {
            margin-bottom: 10px;
         }

         &__link {
            font-size: 17px;
         }

         &__phone {
            margin-bottom: 20px;
         }
      }
   }

   .modal {
      padding-top: 0;

      &__form {
         height: 100vh;
         padding-top: 15px;
      }

      &__subtitle {
         padding-bottom: 7px;
         width: 73%;
      }

      &__input {
         padding: 5px 15px;
         margin-bottom: 5px;
      }

      &__btn {
         height: 45px;
      }

      &__wrapper {
         display: flex;
         flex-direction: row;
      }
   }
}



@media (max-height: 415px) {
   .header {
      .menu {
         display: flex;
         flex-direction: row;
         align-items: center;

         &__item {
            margin-bottom: 10px;
         }

         &__link {
            font-size: 17px;
         }

         &__phone {
            margin-bottom: 20px;
         }
      }
   }

   .modal {
      padding-top: 0;

      &__form {
         height: 100vh;
         padding-top: 15px;
      }

      &__subtitle {
         padding-bottom: 7px;
         width: 73%;
      }

      &__input {
         padding: 5px 15px;
         margin-bottom: 5px;
      }

      &__btn {
         height: 45px;
      }

      &__wrapper {
         display: flex;
         flex-direction: row;
      }
   }
}



@media (min-width:576px) {}





@media (min-width:768px) {
   .header {
      &__wrapper_wrap {
         justify-content: flex-start;

         img {
            width: 156px;
         }
      }

      .hamburger {
         margin-right: 15vw;
      }

      .menu {
         padding: 50px;
         top: 110px;

         &__item {
            margin-bottom: 30px;
         }

         &__link {
            font-size: 36px;
         }

         &__wrap {
            display: none;
         }
      }

      .callback {
         display: flex;
         margin-right: 30px;

         &__phone {
            width: 70px;
            margin-right: 10px;
         }

         &__btn {
            width: 170px;
         }
      }
   }

   .carousel {
      .tabcontent {
         border-top-left-radius: 40px;
         border-top-right-radius: 40px;
         height: calc(100vh - 110px);

         &__inner {
            align-items: flex-end;
         }
      }

      .tabfeatures {
         padding: 30px;
         padding-bottom: 0;
         max-width: 50%;

         &__btn {
            display: flex;
            width: 200px;
            height: 60px;

            &::after {
               height: 60px;
            }
         }
      }

      // .tabheader {
      //    position: relative;
      // }
   }


   .modal {

      &__dialog {
         margin: 0 auto;
         transform: skewX(-5deg);
      }

      &__content {
         max-width: 90vw;
         max-height: 80vh;
      }

      &__image {
         width: 47%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background: #000;

         img {
            display: block;
            width: 100%;
            transform: skewX(5deg);
         }
      }

      &__form {
         // background: #171717;
         width: 53%;
         padding: 30px 50px;
         // &_inner {
         //    display: flex;
         //    justify-content: space-between;
         //    align-items: center;
         //    width: 100%;
         //    margin-top: 20px;
         //    margin-bottom: 15px;
         // }
      }

      form {
         transform: skewX(5deg);
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         height: 100%;
         // padding-bottom: 40px;
      }

      &__title {
         // display: block;
         // width: 80%;
         // margin-right: 20px;
         // font-weight: 700;
         font-size: 2vw;
         // white-space: nowrap; 
         // text-transform: uppercase;
         // color: #FFFFFF;
      }

      &__subtitle {
         // display: block;
         // width: 70%;
         // max-width: 435px;
         // padding-bottom: 20px;
         // font-weight: normal;
         padding-bottom: 15px;
         font-size: 12px;
         // line-height: 150%;
         // color: #808080;
      }

      &__wrapper {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
      }

      &__btn {
         @include button;
         margin-right: 20px;
         font-size: 11px;
         width: 180px;

      }

      &__descr {
         width: 50%;
         font-weight: 400;
         font-size: 12px;
         line-height: 150%;
         color: #808080;

         a {
            color: #808080;
         }
      }

      &__input {
         // width: 100%;
         height: 51px;
         padding: 18px 25px;
         margin-bottom: 10px;
         // background: #171717;
         // border: 1px solid #2B2B2B;
         // font-weight: 700;
         font-size: 15px;
         // text-transform: uppercase;
         // color: #FFFFFF;
         // &::-webkit-input-placeholder {
         //    color: #fff;
         // }
         // &:-moz-placeholder {
         //    color: #fff;
         // }
      }

      textarea {
         height: 120px;

         &::-webkit-input-placeholder {
            color: #fff;
         }

         &:-moz-placeholder {
            color: #fff;
         }
      }

      &__close {
         // position:absolute;
         // top:0px;
         // right: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 70px;
         width: 80px;
         height: 60px;
         // margin-top: 2px;
         // margin-left: 20px;
         background: none;
         border: 1px solid #FFFFFF;
         color: #fff;
         opacity: 0.4;
         transform: skewX(-15deg);
         cursor: pointer;

         div {
            transform: skewX(15deg);
         }

         &:hover {
            border: 2px solid #FFFFFF;
         }
      }
   }
}



@media (max-height: 376px) {
   .header {
      .menu {
         display: flex;
         flex-direction: row;
         align-items: center;

         &__item {
            margin-bottom: 10px;
         }

         &__link {
            font-size: 17px;
         }

         &__phone {
            margin-bottom: 20px;
         }
      }
   }

   .modal {
      padding-top: 0;

      &__form {
         height: 100vh;
         padding-top: 15px;
      }

      &__subtitle {
         padding-bottom: 7px;
         width: 73%;
      }

      &__input {
         padding: 5px 15px;
         margin-bottom: 5px;
      }

      &__btn {
         height: 45px;
      }

      &__wrapper {
         display: flex;
         flex-direction: row;
      }
   }
}


@media (min-width: 992px) {
   .carousel {
      .tabcontent {
         border-top-left-radius: 50px;
         border-top-right-radius: 50px;
      }

   }

}



@media (min-width: 1024px) {
   .hamburger {
      display: none;
   }

   .header {
      &__wrapper {
         padding-left: 20px;
      }

      .nav {
         &__logo {
            margin-right: 20px;
         }
      }

      .menu {
         position: relative;
         display: block;
         padding: 0;
         top: 0;
         left: 0;
         list-style: none;
         height: 18px;

         &__inner {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
         }

         &__item {
            margin-right: 14px;
            padding-top: 2px;
         }

         &__link {
            margin: 0;
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;
            text-decoration: none;
            color: #FFFFFF;
         }
      }

      .callback {
         &__phone {
            margin-left: 3px;
         }
      }

   }

   .carousel {
      .tabcontent {
         border-top-left-radius: 60px;
         border-top-right-radius: 60px;

         img {
            width: 100%;
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
         }
      }

      .tabfeatures {
         display: block;

         &__btn {
            display: flex;
            width: 230px;

            &::after {
               display: block;
            }
         }
      }

   }



   .modal {

      // position: fixed;
      // top: 0;
      // left: 0;
      // z-index: 1050;
      // padding-top: 110px;
      // padding-bottom: 90px;
      // display: none;
      // width: 100%;
      // height: 100%;
      // overflow: hidden;
      // background-color: rgba(0,0,0,.8);
      &__dialog {
         margin: 0 auto;
         transform: skewX(-5deg);
      }

      &__content {
         // display: flex;
         // margin: 0 auto;
         max-width: 90vw;
         max-height: 80vh;
         // background: #000;
      }

      &__image {
         width: 47%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background: #000;

         img {
            display: block;
            width: 100%;
            transform: skewX(5deg);
         }
      }

      &__form {
         width: 53%;
         padding: 30px 50px;
      }

      form {
         transform: skewX(5deg);
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         height: 100%;
      }

      &__title {
         font-size: 2vw;
      }

      &__subtitle {
         padding-bottom: 15px;
         font-size: 12px;
      }

      &__wrapper {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
      }

      &__btn {
         @include button;
         margin-right: 20px;
         width: 180px;

      }

      &__descr {
         width: 50%;
         font-weight: 400;
         font-size: 12px;
         line-height: 150%;
         color: #808080;

         a {
            color: #808080;
         }
      }

      &__input {
         height: 51px;
         padding: 18px 25px;
         margin-bottom: 10px;
         font-size: 15px;
      }

      textarea {
         height: 120px;

         &::-webkit-input-placeholder {
            color: #fff;
         }

         &:-moz-placeholder {
            color: #fff;
         }
      }

      &__close {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 70px;
         width: 80px;
         height: 60px;
         background: none;
         border: 1px solid #FFFFFF;
         color: #fff;
         opacity: 0.4;
         transform: skewX(-15deg);
         cursor: pointer;

         div {
            transform: skewX(15deg);
         }

         &:hover {
            border: 2px solid #FFFFFF;
         }
      }
   }


}



@media (min-width: 1200px) {
   .header {
      &__wrapper {
         padding-left: 50px;
      }

      .menu {
         padding-left: 20px;
         width: 100%;
         max-width: 850px;

         &__item {
            margin-right: 20px;
         }

         &__link {
            font-size: 12px;
         }
      }

      .callback {
         margin-right: 50px;

         &__phone {
            width: 70px;
            margin-right: 10px;
         }

         &__btn {
            width: 170px;
         }
      }

      .carousel {
         .tabfeatures {
            position: absolute;
            bottom: 50px;
            left: 100px;
            padding: 0;
         }
      }
   }
}



@media (min-width: 1440px) {
   .header {
      &__wrapper {
         padding-left: 80px;
      }

      .menu {
         padding-left: 20px;
         width: 100%;
         max-width: 850px;

         &__inner {
            justify-content: space-between;
         }

         &__item {
            margin-right: 20px;
         }

         &__link {
            font-size: 14px;
         }
      }

      .callback {
         margin-right: 90px;

         &__phone {
            width: 70px;
            margin-right: 20px;
         }

         &__btn {
            width: 250px;
         }
      }
   }

   .carousel {
      .tabfeatures {
         &__btn {
            width: 260px;
         }
      }
   }






}



@media (min-width: 1920px) {
   .header {
      &__wrapper {
         padding-left: 100px;
      }

      .menu {
         padding-left: 50px;
      }

      .callback {
         margin-right: 90px;

         &__phone {
            width: 70px;
            margin-right: 20px;
         }

         &__btn {
            width: 260px;
         }
      }
   }

   .carousel {
      .tabcontent {
         &_image1 {
            width: 100vw;
         }
      }
   }


   .modal {

      &__content {
         max-width: 1725px;
      }

      &__title {
         font-size: 46px;
      }
   }
}