
.modal {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1050;
   padding-top: 110px;
   padding-bottom: 90px;
   display: none;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgba(0,0,0,.8);
   &__dialog {
      margin: 0 auto;
      transform: skewX(-5deg);
   }
   &__content {
      display: flex;
      margin: 0 auto;
      max-width: 90vw;
      max-height: 90vh;
      background: #000;
   }
   &__image {
      width: 47%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #000;
      img {
         display: block;
         max-width: 100%;
         max-height: 100%;
         object-fit: cover;
         transform: skewX(5deg);
      }
   }
   &__form {
      background: #171717;
      width: 53%;
      padding: 50px;
      &_inner {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         margin-bottom: 15px;
      }
   }

   form {
      transform: skewX(5deg);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      // padding-bottom: 40px;
   }

   &__title {
      display: block;
      width: 80%;
      margin-right: 20px;
      font-weight: 700;
      font-size: 2vw;
      white-space: nowrap; 
      text-transform: uppercase;
      color: #FFFFFF;
   }
   &__subtitle {
      display: block;
      width: 70%;
      max-width: 435px;
      padding-bottom: 20px;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #808080;
   }
   &__wrapper {
      display: flex;
      justify-content: flex-start;
   }
   &__btn {
      @include button;
      margin-right: 45px;
   }
   &__descr {
      width: 50%;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #808080;
      a {
         color: #808080;
      }
   }
   &__input {
      width: 100%;
      height: 70px;
      padding: 25px 36px;
      margin-bottom: 20px;
      background: #171717;
      border: 1px solid #2B2B2B;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      &::-webkit-input-placeholder {
         color: #fff;
      }
      &:-moz-placeholder {
         color: #fff;
      }
   }
   textarea {
      height: 150px;
      &::-webkit-input-placeholder {
         color: #fff;
      }
      &:-moz-placeholder {
         color: #fff;
      }
   }
   &__close {
      // position:absolute;
      // top:0px;
      // right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:70px;
      width: 80px;
      height: 60px;
      // margin-top: 2px;
      // margin-left: 20px;
      background: none;
      border: 1px solid #FFFFFF;
      color:#fff;
      opacity: 0.4;
      transform: skewX(-15deg);
      cursor:pointer;
      div {
         transform: skewX(15deg);
      }
      &:hover {
         border: 2px solid #FFFFFF;
      }
   }
}